#just in case we build a new exe
Interface Source Code/dist

Stream Tool/Resources/Assets/Pokemon/sprites/*
!Stream Tool/Resources/Assets/Pokemon/sprites/.gitkeep
Stream Tool/Resources/Texts/GUI Settings.json
Stream Tool/Resources/Texts/GUI State.json
