@font-face {
    font-family: "Aero";
    src: url('../../../Resources/Fonts/AERO_03.ttf');
}
@font-face {
    font-family: "Pokemon";
    src: url('../../../Resources/Fonts/PKMN\ BW.ttf');
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

#content {
    width: 1920px;
    height: 1080px;
    background-image: url(Images/bg.png);
    background-size: 82px 84px;
    image-rendering: pixelated;
    display: flex;
    flex-direction: column;
}


#whoThatDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: 100%;
}


#whoThatTitle {
    font-family: "Aero";
    text-transform: uppercase;
    font-weight: 900;
    color: #fdcd07;
    text-shadow: -4px 4px #3466B0;
    font-size: 96px;
    filter: drop-shadow(0px 0px 10px black);
}

#whoThatBarDiv {
    position: relative;
    width: 100%;
    height: 4px;
    overflow: hidden;
}
.whoThatBar {
    height: 4px;
    width: 100%;
    position: absolute;
}
#whoThatRevealBarBg {
    background-color: rgb(100, 100, 100);
    z-index: 2;
}
#whoThatRevealProgress {
    background-color: #3466B0;
    z-index: 3;
}


#whoThatContent {
    font-family: "Aero";
    color: #f8f8f8;
    display: flex;
    gap: 50px;
}

#pokeImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}
#whoThatPokeImg {
    position: absolute;
    transform: scale(4);
    image-rendering: pixelated;
    transition: filter 1s;
    filter: brightness(0);
}


#whoThatInfoDiv {
    text-shadow: 0px 0px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: width 1s;
    width: 0px;
}
#pokeNick {
    font-size: 74px;
    width: 200px;
}

#pokeSubText {
    display: flex;
    gap: 6px;
    font-size: 48px;
    font-style: italic;
    transform: translateX(30px);
}



#countdownDiv {
    border-top: #4a7b08 thick double;
    width: 100%;
    height: 124px;
    min-height: 124px;
    box-sizing: content-box;
    flex-shrink: 0;
    filter: drop-shadow(0px 0px 10px black);
}

#countdownBg {
    position: absolute;
    width: 3072px;
    height: 100%;
    background-image: url(Images/Countdown\ BG.png);
    background-repeat: repeat;
    animation: anibg 9s linear infinite;
}

#countdownTextDiv {
    transform: translateY(5px);
    display: flex;
    gap: 16px;
    font-family: "Aero";
    color: #f8f8f8;
    font-size: 62px;
    text-shadow: 0px 0px 10px black;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


#connErrorDiv {
    display: none;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Aero";
    font-size: 28px;
    color: lightcoral;
    text-shadow: 0px 0px 5px black;
}


/* Animations! */

@keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes barReveal {
    from { transform: translateX(-100%); }
    to { transform: translateX(0%); }
}
@keyframes barRevealnt {
    from { transform: translateX(0%); }
    to { transform: translateX(-100%); }
}

@keyframes anibg {
    from { transform: translateX(0%); }
    to { transform: translateX(-25%); }
}