@font-face {
    font-family: "FontBold";
    src: url('../../../Resources/Fonts/RobotoCondensed-Bold.ttf');
}
@font-face {
    font-family: "FontSemiBold";
    src: url('../../../Resources/Fonts/RobotoCondensed-SemiBold.ttf');
}
@font-face {
    font-family: "FontMain";
    src: url('../../../Resources/Fonts/RobotoCondensed-Medium.ttf');
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: "FontMain";
}

#content {
    width: 1920px;
    height: 1080px;

    display: flex;
    flex-direction: column;
}


#whoThatDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: 100%;
}


#whoThatTitle {
    font-family: "FontBold";
    text-transform: uppercase;
    color: #fdcd07;
    text-shadow: -5px 5px #3466B0;
    font-size: 90px;
    filter: drop-shadow(0px 0px 10px black);
}

#whoThatBarDiv {
    position: relative;
    width: 100%;
    height: 5px;
    overflow: hidden;
    filter: drop-shadow(0px 0px 10px black);
}
.whoThatBar {
    height: 100%;
    width: 100%;
    position: absolute;
}
#whoThatRevealBarBg {
    background-color: rgb(100, 100, 100);
    z-index: 2;
}
#whoThatRevealProgress {
    background-color: #3877d6;
    z-index: 3;
}


#noCatchesMessage {
    display: none;
    color: #f8f8f8;
    filter: drop-shadow(0px 0px 10px black);
    font-size: 48px;
}


#whoThatContent {
    color: #f8f8f8;
    display: flex;
    gap: 50px;
}

#pokeImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}
#whoThatPokeImg {
    position: absolute;
    transform: scale(4);
    image-rendering: pixelated;
    transition: filter 1s;
    filter: brightness(0);
}


#whoThatInfoDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: width 1s;
    width: 0px;
    filter: drop-shadow(0px 0px 10px black);
}
#pokeNick {
    font-size: 74px;
    width: 200px;
    white-space: nowrap;
    font-family: "FontSemiBold";
}

#pokeSubText {
    display: flex;
    gap: 6px;
    font-size: 48px;
    font-style: italic;
    transform: translateX(30px);
}



#countdownDiv {
    width: 100%;
    height: 100px;
    min-height: 100px;
    box-sizing: content-box;
    flex-shrink: 0;
    filter: drop-shadow(0px 0px 10px black);
}

#countdownBg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #00000000, #000000CC);
}

#countdownTextDiv {
    transform: translateY(5px);
    display: flex;
    gap: 16px;
    color: #f8f8f8;
    font-size: 50px;
    text-shadow: 0px 0px 10px black;
    width: 100%;
    height: 100%;
    justify-content: right;
    padding-right: 30px;
    align-items: center;
}


#connErrorDiv {
    display: none;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
    color: lightcoral;
    text-shadow: 0px 0px 5px black;
}


/* Animations! */

@keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes barReveal {
    from { transform: translateX(-100%); }
    to { transform: translateX(0%); }
}
@keyframes barRevealnt {
    from { transform: translateX(0%); }
    to { transform: translateX(-100%); }
}
