@font-face {
    font-family: "Aero";
    src: url('../../../Resources/Fonts/AERO_03.ttf');
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

#content {
    width: 1920px;
    height: 1080px;
}


#playerInfo {
    position: absolute;
    top: 560px;
    left: 426px;
    display: flex;
    flex-direction: column;
}

#badgesTop, #badgesBot {
    position: relative;
}

.badge {
    position: absolute
}
#badge1 {
    top: 16px;
    left: 20px;
}
#badge2 {
    top: 20px;
    left: 66px;
}
#badge3 {
    top: 18px;
    right: 72px;
}
#badge4 {
    top: 16px;
    right: 8px;
}
#badge5 {
    top: 16px;
    left: 14px;
}
#badge6 {
    top: 18px;
    left: 74px;
}
#badge7 {
    top: 18px;
    right: 68px;
}
#badge8 {
    top: 20px;
    right: 9px;
}


#playerStats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.stat {
    display: flex;
    align-items: center;
    gap: 5px;
}

.statIcon {
    object-fit: contain;
    width: 20px;
    height: 20px
}
#catchesIcon {
    stroke: white;
    fill: none;
    transform: scale(1.15);
}
#killsIcon {
    fill: white;
}
#deathsIcon {
    fill: white;
}

.statNumber {
    color: #f8f8f8;
    font-family: "Aero";
    font-size: 24px;
    text-shadow: 0px 0px 5px black;
    margin-top: 4px;
}


/* Wild Encounter Section */

#wildEncounterDiv {
    opacity: 0;
    position: absolute;
    top: 560px;
    left: 415px;
    width: 280px;
    height: 340px;
    font-family: "Aero";
    font-size: 20px;
    color: white;
    text-shadow: 0px 0px 5px black;
}

#wildPokeImgDiv {
    transform: translate(-5px, -90px);
    z-index: 1;
}


#wildBackground {
    position: absolute;
    width: 100%;
    height: 186px;
    background-color: #5a54676c;
    border-radius: 20px;
    z-index: 0;
    transform: translateY(-6px)
}


#wildInfoDiv {
    width: 160px;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transform: translate(-4px, -10px);
}

.vsWildPokeTypeDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vsWildTypeDiv {
    display: flex;
    align-items: center;
    height: 30px;
    border-radius: 5px;
    padding-right: 4px;
    text-transform: uppercase;
    gap: 5px;
}


#vsWildGenderRatio {
    display: flex;
    gap: 0px;
}

.vsWildGenderRatioDiv {
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 26px;
    gap: 5px;
    padding: 5px;
}


#vsWildAbilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.vsWildAbilityText {
    background-color: rgba(78, 78, 78, 0.5);
    border-radius: 5px;
    height: 24px;
    display: flex;
    align-items: center;
    padding: 5px;
}
#vsWildAbilityH {
    border: 1px solid #5d4d68;
}


#vsWildStatsDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 10px;
    font-size: 18px;
}
  
.vsWildStat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: 1px solid grey;
    height: 22px;
}
.vsWildStat:not(:first-child) {
    border-top: none;
}
.vsWildStatText {
    text-shadow: 0px 0px 2px black;
    z-index: 3;
    padding: 0px 5px;
}
  
.vsWildMeter {
    position: absolute;
    height: 100%;
    transition: width .5s;
    width: 0%;
    opacity: .7;
}
  
#vsWildStatHP {
    background-color: #4e2826;
}
#vsWildMeterHP {
    background-color: #C7312A;
}
#vsWildStatAT {
    background-color: #553726;
}
#vsWildMeterAT {
    background-color: #F77F32;
}
#vsWildStatDE {
    background-color: #4e3b18;
}
#vsWildMeterDE {
    background-color: #FFA40A;
}
#vsWildStatSA {
    background-color: #2b3a55;
}
#vsWildMeterSA {
    background-color: #5F92ED;
}
#vsWildStatSD {
    background-color: #2b4121;
}
#vsWildMeterSD {
    background-color: #72C34D;
}
#vsWildStatSP {
    background-color: #582836;
}
#vsWildMeterSP {
    background-color: #EB527D;
}
#vsWildStatTS {
    background-color: #3c214b;
}
#vsWildMeterTS {
    background-color: #b352eb;
}


/* Bottom Pokemon Section */

#botPokes {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: "Aero";
    color: #f8f8f8;
}


.pokeDiv {
    position: relative;
    height: 120px;
    width: 300px;
    border: thick double #949494;
    overflow: visible;
    border-radius: 5px;
}
.pokeDed {
    border-color: red;
    filter: grayscale(.8);
}


.pokeTexts {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    text-shadow: 0px 0px 5px black;
}

.pokeLvlDiv {
    display: flex;
    gap: 4px;
}

.typeIcon {
    height: 26px;
    margin: -7px -5px -5px -3px;
    filter: drop-shadow(0px 0px 2px black);
}


.pokeNick {
    font-size: 32px;
}

.pokeSubText {
    display: flex;
    gap: 6px;
    font-size: 22px;
    font-style: italic;
}

.pokeImgDiv {
    position: absolute;
    right: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
    clip-path: inset(-100px -100px 0px -100px);
    width: 200px;
    height: 100%;
}
.pokeImg {
    transform: scale(2);
    image-rendering: pixelated;
}

.pokeDivMask {
    display: none;
}


#battleDiv {
    display: none;
}


#enemyNameIntroDiv {
    display: none;
}


#connErrorDiv {
    display: none;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Aero";
    font-size: 28px;
    color: lightcoral;
    text-shadow: 0px 0px 5px black;
}


/* Animations! */
@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0px);
    }
    to {
        opacity: 0;
        transform: translateX(-40px);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}