@font-face {
    font-family: "Deansgate";
    src: url('../../../Resources/Fonts/DeansgateCondensed-Bold.ttf');
}

html, body {
    padding: 0;
    margin: 0;
}

#content {
    width: 1920px;
    height: 1080px;
}

#botPokes {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Deansgate";
    color: #f8f8f8;
}


.pokeDiv {
    position: relative;
    height: 100%;
    width: 320px;
}


.pokeBorder {
    position: absolute;
    left: 6px;
    bottom: 16px;
}

.pokeNick {
    position: absolute;
    text-transform: uppercase;
    font-size: 32px;
    left: 30px;
    bottom: 54px;
    text-shadow: 0px 0px 5px black;
}

.pokeSubText {
    position: absolute;
    display: flex;
    gap: 6px;
    font-size: 22px;
    left: 30px;
    bottom: 34px;
    text-shadow: 0px 0px 5px black;
    font-style: italic;
}

.pokeImgDiv {
    position: absolute;
    right: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 200px;
    height: 100%;
}
.pokeImg {
    transform: scale(2);
    image-rendering: pixelated;
}



#connErrorDiv {
    display: none;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Deansgate";
    font-size: 28px;
    color: lightcoral;
    text-shadow: 0px 0px 5px black;
}