@font-face {
    font-family: "Aero";
    src: url('../../../Resources/Fonts/AERO_03.ttf');
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

#content {
    width: 1920px;
    height: 1080px;
}


#playerInfo {
    position: absolute;
    top: 560px;
    left: 426px;
    display: flex;
    flex-direction: column;
}

#badgesTop, #badgesBot {
    position: relative;
}

.badge {
    position: absolute
}
#badge1 {
    top: 16px;
    left: 20px;
}
#badge2 {
    top: 20px;
    left: 66px;
}
#badge3 {
    top: 18px;
    right: 72px;
}
#badge4 {
    top: 16px;
    right: 8px;
}
#badge5 {
    top: 16px;
    left: 14px;
}
#badge6 {
    top: 18px;
    left: 74px;
}
#badge7 {
    top: 18px;
    right: 68px;
}
#badge8 {
    top: 20px;
    right: 9px;
}


#playerStats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.stat {
    display: flex;
    align-items: center;
    gap: 5px;
}

.statIcon {
    object-fit: contain;
    width: 20px;
    height: 20px
}
#catchesIcon {
    stroke: white;
    fill: none;
    transform: scale(1.15);
}
#killsIcon {
    fill: white;
}
#deathsIcon {
    fill: white;
}

.statNumber {
    color: #f8f8f8;
    font-family: "Aero";
    font-size: 24px;
    text-shadow: 0px 0px 5px black;
    margin-top: 4px;
}


/* Wild Encounter Section */

#wildEncounterDiv {
    opacity: 0;
    position: absolute;
    top: 560px;
    left: 415px;
    width: 280px;
    height: 340px;
    font-family: "Aero";
    font-size: 20px;
    color: white;
    text-shadow: 0px 0px 5px black;
}

#wildPokeImgDiv {
    transform: translate(-5px, -90px);
    z-index: 1;
}


#wildBackground {
    position: absolute;
    width: 100%;
    height: 186px;
    background-color: #5a54676c;
    border-radius: 20px;
    z-index: 0;
    transform: translateY(-6px)
}


#wildInfoDiv {
    width: 160px;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transform: translate(-4px, -10px);
}

.vsWildPokeTypeDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vsWildTypeDiv {
    display: flex;
    align-items: center;
    height: 30px;
    border-radius: 5px;
    padding-right: 4px;
    text-transform: uppercase;
    gap: 5px;
}


#vsWildGenderRatio {
    display: flex;
    gap: 0px;
}

.vsWildGenderRatioDiv {
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 26px;
    gap: 5px;
    padding: 5px;
}


#vsWildAbilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.vsWildAbilityText {
    background-color: rgba(78, 78, 78, 0.5);
    border-radius: 5px;
    height: 24px;
    display: flex;
    align-items: center;
    padding: 5px;
}
#vsWildAbilityH {
    border: 1px solid #5d4d68;
}


#vsWildStatsDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 10px;
    font-size: 18px;
}
  
.vsWildStat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: 1px solid grey;
    height: 22px;
}
.vsWildStat:not(:first-child) {
    border-top: none;
}
.vsWildStatText {
    text-shadow: 0px 0px 2px black;
    z-index: 3;
    padding: 0px 5px;
}
  
.vsWildMeter {
    position: absolute;
    height: 100%;
    transition: width .5s;
    width: 0%;
    opacity: .7;
}
  
#vsWildStatHP {
    background-color: #4e2826;
}
#vsWildMeterHP {
    background-color: #C7312A;
}
#vsWildStatAT {
    background-color: #553726;
}
#vsWildMeterAT {
    background-color: #F77F32;
}
#vsWildStatDE {
    background-color: #4e3b18;
}
#vsWildMeterDE {
    background-color: #FFA40A;
}
#vsWildStatSA {
    background-color: #2b3a55;
}
#vsWildMeterSA {
    background-color: #5F92ED;
}
#vsWildStatSD {
    background-color: #2b4121;
}
#vsWildMeterSD {
    background-color: #72C34D;
}
#vsWildStatSP {
    background-color: #582836;
}
#vsWildMeterSP {
    background-color: #EB527D;
}
#vsWildStatTS {
    background-color: #3c214b;
}
#vsWildMeterTS {
    background-color: #b352eb;
}


/* Bottom Pokemon Section */

#botPokes {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: "Aero";
    color: #f8f8f8;
}


.pokeDiv {
    --healthy: #949494;
    --warning: #7e7c11;
    --danger: #7e1111;
    --Par: var(--warning);
    --Poi: #56117e;
    --Fro: #1a8fa3;
    --Bur: #7e4611;
    --Sle: grey;
    --activeColor: var(--healthy);
    position: relative;
    height: 120px;
    width: 300px;
    border: thick double var(--activeColor);
    overflow: visible;
    border-radius: 5px;
    transition: opacity .25s, margin-left .6s;
}
.pokeFai, .pokeDed {
    --activeColor: var(--danger) !important;
    filter: grayscale(.8) brightness(.8) !important;
}
.pokePar {
    --activeColor: var(--warning) !important;
}
.pokePoi {
    --activeColor: var(--Poi) !important;
}
.pokeFro {
    --activeColor: var(--Fro) !important;
}
.pokeBur {
    --activeColor: var(--Bur) !important;
}
.pokeSle {
    --activeColor: var(--Sle) !important;
}

.pokeDivInCombat {
    .pokeDivMask {
        .pokeHpDiv {
            transform: translateY(0px);
        }
    }
    .pokeTexts {
        transform: translateY(-11px);
    }
}
.pokeDivOutOfCombat { 
    .pokeDivMask {
        .pokeHpDiv {
            transform: translateY(25px);
        }
    }
    .pokeTexts {
        transform: translateY(0px);
    }
}

.pokeTexts {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    text-shadow: 0px 0px 5px black;
    transition: transform .5s;
}

.pokeDivMask {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pokeLvlDiv {
    display: flex;
    gap: 4px;
}

.typeIcon {
    height: 26px;
    margin: -7px -5px -5px -3px;
    filter: drop-shadow(0px 0px 2px black);
}


.pokeNick {
    font-size: 32px;
}

.pokeSubText {
    display: flex;
    gap: 6px;
    font-size: 22px;
    font-style: italic;
}

.pokeHpDiv {
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 100%;
    --bacColor: #363636;
    transition: transform .5s;
}
.pokeHpTextDiv {
    display: flex;
    justify-content: center;
    width: 70px;
    background-color: var(--bacColor);
    padding: 3px 0px;
    z-index: 2;
    flex-shrink: 0;
    font-size: 16px;
    border-top-right-radius: 5px;
    border-top: 2px solid var(--activeColor);
    border-right: 2px solid var(--activeColor);
}
.pokeHpText {
    text-wrap: nowrap;
    color: #b6b6b6;
    transform: translateY(2px);
}
.pokeHpBar {
    background-color: var(--bacColor);
    width: 55%;
    height: 11px;
    transform: translateY(14px);
    border-top-right-radius: 5px;
    border: 4px solid var(--bacColor);
    border-left: none;
    overflow: hidden;
}
.hpBar {
    position: absolute;
    width: 100%;
    height: 100%;
}
.pokeHpBarTotal {
    background-color: grey;
}
.pokeHpBarCurrent {
    background-color: var(--activeColor);
    filter: brightness(1.7);
}

.pokeImgDiv {
    position: absolute;
    right: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
    clip-path: inset(-100px -100px 0px -100px);
    width: 200px;
    height: 100%;
}
.pokeImg {
    transform: scale(2);
    image-rendering: pixelated;
}


#battleDiv {
    display: none;
}


#enemyNameIntroDiv {
    display: none;
}


#connErrorDiv {
    display: none;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Aero";
    font-size: 28px;
    color: lightcoral;
    text-shadow: 0px 0px 5px black;
}


/* Animations! */
@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0px);
    }
    to {
        opacity: 0;
        transform: translateX(-40px);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes hidePokes {
    from {
        opacity: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        transform: translateY(30px);
    }
}
@keyframes showPokes {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes iDontFeelSoGood {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes shake {
    0% { transform: translate(1px, 1px); filter: brightness(1.3); }
    10% { transform: translate(1px, -2px); }
    20% { transform: translate(-1px, 0px); }
    30% { transform: translate(1px, 1px); }
    40% { transform: translate(2px, -1px); }
    50% { transform: translate(0px, 1px); }
    60% { transform: translate(-1px, 0px); }
    70% { transform: translate(1px, 1px); filter: brightness(1); }
    80% { transform: translate(-1px, -1px); }
    90% { transform: translate(1px, 0px); }
    100% { transform: translate(0px, -1px); }
}

@keyframes megaAnim {
    0% {filter: brightness(1);}
    85% {filter: brightness(15);}
    100% {filter: brightness(1);}
}


@keyframes trainerIntroFull {
    0% {transform: translateY(20px);}
    35% {transform: translateY(20px);}
    45% {transform: translateY(0px);}
}
@keyframes trainerIntroTopBar {
    0% {transform: translateX(-100%);}
    15% {transform: translateX(0%);}
    85% {transform: translateX(0%);}
    100% {transform: translateX(100%);}
}
@keyframes trainerIntroBotBar {
    0% {transform: translateX(100%);}
    15% {transform: translateX(0%);}
    85% {transform: translateX(0%);}
    100% {transform: translateX(-100%);}
}
@keyframes trainerIntroTexts {
    0% {transform: translateX(40px); opacity: 0;}
    5% {transform: translateX(40px); opacity: 0;}
    15% {transform: translateX(0px); opacity: 1;}
    85% {transform: translateX(0px); opacity: 1;}
    95% {transform: translateX(-40px); opacity: 0;}
    100% {transform: translateX(-40px); opacity: 0;}
}

@keyframes trainerIntroCount {
    0% {opacity: 0;}
    35% {opacity: 0;}
    45% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}