@font-face {
  font-family: "Roboto-Regular";
  src: url('../Fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: "Roboto-Medium";
  src: url('../Fonts/Roboto-Medium.ttf');
}

:root {
  --text1: #ececec;
  --text2: #b6b6b6;
  --bg1: #131318;
  --bg2: #383838;
  --bg3: #1e1e24;
  --bg4: #444444b6;
  --bg5: #2b2b2b;
  --selected: #2ba4eb;
  --focused: #686868;
  --iconFill: #b6b6b6;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-track {
  background: var(--bg2);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--focused);
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
}
* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  background-color: var(--bg2);
  color: var(--text1);
  user-select: none;
  font-family: 'Roboto-Regular';
  font-size: 16px;
}


/* general text input class*/
.textInput {
  outline: none;
  border: none;
  background: var(--bg4);
  color: var(--text1);
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid var(--bg4);
  transition: border-color 100ms;  
}
input[type="text"] {
  font-family: 'Roboto-Regular';
  font-size: 13px;
}

.textInput:hover {
  border-color: var(--selected);
}

.textInput:focus {
  border-color: var(--focused);
}

/* rip button defaults */
button {
  outline: none;
  overflow: visible;
  border: none;
  font: inherit;
  padding: 0;
  background-color: none;
  background: none;
  color: white;
  text-transform: inherit;
  text-shadow: inherit;
}
button, [type="button"] {
  -webkit-appearance: button;
}
button:hover {
  cursor: pointer;
}

/* selects can be a bit pretty sometimes */
.selectDropDown {
  outline: none;
  height: 25px;
  color: var(--text1);
  background: var(--bg4);
  border: 1px solid var(--focused);
  transition: border-color 100ms;
  padding: 0px 5px;
  box-sizing: border-box;
  border-radius: 5px;
}
.selectDropDown:hover {
  border-color: var(--selected);
}
.selectDropDown:active {
  background-color: var(--bg2);
}


/* now for some actual elements */
#viewport {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


#topBar {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 7px;
  gap: 10px;
  border-bottom: 1px solid var(--focused);
  background-color: var(--bg5);
}
.topBarButton, .updateButt {
  padding: 2px 5px;
  font-size: 14px;
  height: 32px;
  font-family: "Roboto-Medium";
  border: solid 2px var(--focused);
  border-radius: 5px;
  color: var(--text2);
  display: flex;
  align-items: center;
  gap: 4px;
  transition: border-color 100ms;
}
.updateButt {
  text-transform: uppercase;
}
.topBarButton:hover, .updateButt:hover{
  border: solid 2px var(--text2);
}
.topBarButton:active, .updateButt:active {
  filter: brightness(.8);
}
.topBarSelected {
  background: var(--bg2);
}

.pokeballIcon {
  width: 20px;
  height: 20px;
  stroke: var(--text2);
  fill: none;
  margin-right: -1px;
}
.personIcon {
  width: 20px;
  height: 20px;
  fill: var(--text2);
  margin-right: -2px;
}
#configIcon, #checkIcon {
  width: 20px;
  height: 20px;
  fill: var(--text2);
}


#centerWrap {
  display: flex;
  height: 100%;
  overflow-y: auto;
}

#content {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  padding: 10px;
}


.region {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 10px;
  display: none;
}


/* catches stuff */
#catchesDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.catchDiv {
  display: flex;
  align-items: center;
  gap: 5px;
}

.catchButt {
  font-family: "Roboto-Medium";
  border: solid 2px var(--focused);
  border-radius: 100%;
  color: var(--text2);
  display: flex;
  align-items: center;
  transition: border-color 100ms;
}
#addCatchButt {
  padding: 0px 8px;
  font-size: 18px;
  height: 30px;
}
.catchDeleteButt {
  padding: 0px 8px;
  margin-right: 2px;
  font-size: 18px;
  height: 26px;
}
#addCatchButt:hover {
  border: solid 2px var(--text2);
}
.catchDeleteButt:hover {
  border: solid 2px lightcoral;
  color: lightcoral;
}
.catchButt:active {
  filter: brightness(.8);
}



/* team stuff */
#teamRegion {
  display: flex;
}

#pokeParty, #trainerParty {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pokemonDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.teamPokeMainInfo {
  display: flex;
  align-items: center;
  gap: 5px;
}


.finderPosition {
  position: relative;
  display: flex;
}

.finderEntry {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  z-index: 30;
  cursor: pointer;
}
.finderEntry:not(:first-child) {
  border-top: 1px solid var(--bg2);
}
.finderEntry:hover {
  background-color: var(--bg2);
}
.finderEntry-active {
  background-color: var(--bg2);
}

.pfTag {
  color: var(--text2);
  font-size: 13px;
  margin-left: 5px;
  z-index: 32;
}
.pfName {
  font-family: "Roboto-Medium";
  margin-right: 5px;
  margin-left: 5px;
  z-index: 32;
}
.pfChar {
  font-style: italic;
  font-size: 13px;
  margin-right: 5px;
  z-index: 32;
}
.pfCharImgBox {
  position: absolute;
  height: 30px;
  width: 100%;
  transform: scaleX(-1);
  overflow: hidden;
  opacity: .8;
}
.pfCharImg {
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: contain;
  height: 40px;
  opacity: .8;
  z-index: 31;
}


.selector {
  width: 126px;
  height: 32px;
  color: var(--text1);
  background-color: var(--bg4);
  border: 1px solid var(--focused);
  transition: border-color 100ms;
  font-size: 14px;
  display: flex;
  align-items: center;
  font-family: 'Roboto-Regular';
  white-space: nowrap;
  overflow: hidden;
  border-radius: 3px;
}
.selector:hover {
  border-color: var(--selected);
}
.selector:active {
  background-color: var(--bg2);
}

.charSelects {
  display: flex;
}

.pokeSelector {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pokeSelectorInCombat {
  background-color: var(--focused);
}
.pokeSelectorIcon {
  width: 40px;
  height: 30px;
  object-fit: none;
  image-rendering: pixelated;
  display:inline-block;
}

.bCharSelector {
  width: 70px;
}


.finder {
  display: none;
  position: absolute;
  width: 180px;
  top: 100%;
  left: 0;
  filter: drop-shadow(0px 0px 5px var(--bg3));
  z-index: 5;
  max-height: 165px;
}
.pokeSelector:focus-within .finder {
  display: block;
}
.listSearch {
  outline: none;
  border: none;
  width: 100%;
  background: var(--bg1);
  color: var(--text1);
  padding: 2px;
  box-sizing: border-box;
}
.searchList {
  background-color: var(--bg5);
  font-size: 15px;
  text-shadow: 0px 0px 3px black;
  overflow: auto;
  max-height: 140px;
  position: relative;
}

.fIconImg {
  width: 40px;
  height: 30px;
  object-fit: none;
  image-rendering: pixelated;
  display:inline-block;
}


.pokeNickName {
  width: 100px;
}


.pokeLvlDiv {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 30px;
  color: var(--text1);
  background: var(--bg4);
  border: 1px solid var(--focused);
  transition: border-color 100ms;
  border-radius: 5px;
  padding: 0px 0px 0px 6px;
}
.pokeLvlDiv:hover {
  border-color: var(--selected);
}
.pokeLvlText {
  font-weight: bold;
}
.pokeLvlNumber {
  width: 34px;
  height: 18px;
  outline: none;
  border: none;
  background: var(--bg4);
  color: var(--text1);
  font-family: 'Roboto-Medium';
  font-size: 16px;
  padding-left: 3px;
}


.pokeForm {
  outline: none;
  height: 30px;
  width: 90px;
  color: var(--text1);
  background: var(--bg4);
  border: 1px solid var(--focused);
  transition: border-color 100ms;
  padding: 0px 4px;
  box-sizing: border-box;
  border-radius: 5px;
}
.pokeForm:hover {
  border-color: var(--selected);
}
.pokeForm:disabled {
  pointer-events: none;
  color: var(--text2);
}


.pokeGenderButton {
  outline: none;
  height: 30px;
  color: var(--text1);
  background: var(--bg4);
  border: 1px solid var(--focused);
  transition: border-color 100ms;
  padding: 0px 3px 0px 4px;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokeGenderButton:hover {
  border-color: var(--selected);
}
.pokeGenderButton:active {
  background-color: var(--bg2);
}
.pokeGenderButton:disabled {
  filter: grayscale(.8);
  pointer-events: none;
  border: 1px solid var(--bg4);
}


.pokeShinyButton {
  outline: none;
  height: 30px;
  color: var(--text1);
  background: var(--bg4);
  border: 1px solid var(--focused);
  transition: border-color 100ms;
  padding: 0px 3px 0px 4px;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokeShinyButton:hover {
  border-color: var(--selected);
}
.pokeShinyButton:active {
  background-color: var(--bg2);
}
.pokeShinyIcon {
  height: 24px;
  opacity: .3;
}


.pokeStatus {
  outline: none;
  height: 30px;
  width: 56px;
  color: var(--text1);
  background: var(--bg4);
  border: 1px solid var(--focused);
  transition: border-color 100ms;
  padding: 0px 4px;
  box-sizing: border-box;
  border-radius: 5px;
}
.pokeStatus:hover {
  border-color: var(--selected);
}


.pokeDetailsButt {
  outline: none;
  height: 30px;
  color: var(--text1);
  background: var(--bg4);
  border: 1px solid var(--focused);
  transition: border-color 100ms;
  padding: 0px 3px 0px 4px;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokeDetailsButt:hover {
  border-color: var(--selected);
}
.pokeDetailsButt:active {
  background-color: var(--bg2);
}


.pokeDetails {
  display: none;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg5);
  border-radius: 0px 0px 10px 10px;
  padding: 10px 5px;
}
.pokeDetailsShow {
  display: flex;
}


.detailsGeneral {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detailsTopRow {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.detailsHpExp {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 10px;
}


.pokeDetailsText {
  padding-right: 5px;
  font-weight: bold;
}
.pokeDetailsInput {
  height: 18px;
  outline: none;
  border: none;
  background: none;
  color: var(--text1);
  font-family: 'Roboto-Medium';
  font-size: 14px;
  text-align: right;
}

.detailsBotRow {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.pokeDetailsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokeTopRowText {
  border-bottom: solid 1px var(--text2);
  margin-bottom: 2px;
  font-weight: bold;
  text-align: center;
}

.pokeHpText {
  width: 40px;
}
.pokeHpNumber {
  width: 27px;
}
.pokeHpMax {
  text-align: left;
}
.pokeHpBarDiv, .pokeExpBarDiv {
  position: relative;
  width: 120px;
  height: 3px;
  overflow: hidden;
  border-radius: 5px;
}
.pokeHpBar, .pokeExpBar {
  position: absolute;
  width: 100%;
  height: 100%;
}
.pokeHpBarBg, .pokeExpBarBg {
  background-color: var(--focused);
}
.pokeHpBarActive {
  --healthy: #237e11;
  --warning: #7e7c11;
  --danger: #7e1111;
  --activeColor: var(--healthy);
  background-color: var(--activeColor);
}

.pokeExpText {
  width: 90px;
}
.pokeExpCurrent {
  width: 70px;
  text-align: center;
}
.pokeExpBarActive {
  background-color: #1c93b8;
}

.detailsAbiItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.pokeAbilityText {
  width: 90px;
}
.pokeAbility {
  width: 150px;
  text-align: center;
}

.pokeItemText {
  width: 90px;
}
.pokeItem {
  width: 150px;
  text-align: center;
}

.detailsMoves {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.pokeMoveBlock {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 28px;
  color: var(--text1);
  background: var(--bg4);
  border: 1px solid var(--focused);
  transition: border-color 100ms;
  border-radius: 5px;
  padding: 0 4px 0 4px;
}
.pokeMoveName {
  width: 105px;
  text-align: left;
  font-weight: bold;
}
.pokeDetailsMoveDiv {
  display: flex;
}

.detailsStats {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 175px;
}
.pokeDetailsStatDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pokeStatTexts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
}
.pokeStatNums {
  display: flex;
  gap: 3px;
  font-size: 15px;
}
.pokeStatNum {
  font-weight: bold;
}
.pokeStatNumEVIV {
  font-size: 13px;
}


.pokeStatsNumber {
  width: 27px;
}
.pokeStatBars {
  position: relative;
  width: 100%;
  height: 3px;
  overflow: hidden;
  border-radius: 5px;
}
.pokeStatBar {
  position: absolute;
  width: 100%;
  height: 100%;
}
.pokeStatBarBg {
  background-color: var(--focused);
}
.pokeStatHpBar {
  background-color: #C7312A;
}
.pokeStatAtkBar {
  background-color: #F77F32;
}
.pokeStatDefBar {
  background-color: #FFA40A;
}
.pokeStatSpABar {
  background-color: #5F92ED;
}
.pokeStatSpDBar {
  background-color: #72C34D;
}
.pokeStatSpeBar {
  background-color: #EB527D;
}


.teamButtRegion {
  display: flex;
  gap: 8px;
}

#bTypeButt {
  text-transform: none;
}

.citraButtOff {
  filter: grayscale(.8);
}


/* Player Info stuff */
#gymBadges {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  image-rendering: pixelated;
  flex-wrap: wrap;
}
.gymBadgesWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.badgeDisabled {
  filter: grayscale(1);
  opacity: .5;
}
.gymBadgeButton {
  transition: transform 100ms;
}
.gymBadgeButton:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

#playerStats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.statDiv {
  display: flex;
  align-items: center;
  gap: 5px;
}
.statInput {
  width: 60px;
}

.skullIcon {
  width: 20px;
  height: 20px;
  fill: var(--text2);
}
.statsPokeballIcon {
  width: 23px;
  height: 23px;
  stroke: var(--text2);
  fill: none;
  margin-right: -1px;
  margin-top: 1px;
}
.statIcon {
  cursor: pointer;
  transition: filter .2s;
}
.statIcon:hover {
  filter: brightness(1.2);
}


/* VS Wild encounter stuff */
.vsWildTopRow {
  display: flex;
  gap: 5px;
}

#vsWildStatsDiv {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.vsWildStat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border: 1px solid var(--focused);
  height: 25px;
}
.vsWildStat:not(:first-child) {
  border-top: none;
}
.vsWildStatText {
  text-shadow: 0px 0px 2px black;
  z-index: 3;
  padding: 0px 5px;
}

.vsWildMeter {
  position: absolute;
  height: 100%;
  transition: width .5s;
  width: 0%;
}

#vsWildStatHP {
  background-color: #4e2826;
}
#vsWildMeterHP {
  background-color: #C7312A;
}
#vsWildStatAT {
  background-color: #553726;
}
#vsWildMeterAT {
  background-color: #F77F32;
}
#vsWildStatDE {
  background-color: #4e3b18;
}
#vsWildMeterDE {
  background-color: #FFA40A;
}
#vsWildStatSA {
  background-color: #2b3a55;
}
#vsWildMeterSA {
  background-color: #5F92ED;
}
#vsWildStatSD {
  background-color: #2b4121;
}
#vsWildMeterSD {
  background-color: #72C34D;
}
#vsWildStatSP {
  background-color: #582836;
}
#vsWildMeterSP {
  background-color: #EB527D;
}
#vsWildStatTS {
  background-color: #3c214b;
}
#vsWildMeterTS {
  background-color: #b352eb;
}


#vsWildBotRow {
  display: flex;
  gap: 10px;
  align-items: center;
}

#vsWildRightDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  gap: 10px;
}


.vsWildPokeTypeDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.vsWildTypeDiv {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: var(--bg4);
  border-radius: 5px;
  text-transform: uppercase;
  padding: 0 4px 0 2px;
}
.typeIcon {
  height: 30px;
  margin: 0px -2px;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
}


#vsWildGenderRatio {
  display: flex;
  gap: 10px;
}

.vsWildGenderRatioDiv {
  display: flex;
  align-items: center;
  background-color: var(--bg4);
  border-radius: 5px;
  height: 26px;
  gap: 5px;
  padding: 5px;
}


#vsWildAbilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.vsWildAbilityText {
  background-color: var(--bg4);
  border-radius: 5px;
  height: 24px;
  display: flex;
  align-items: center;
  padding: 5px;
}
#vsWildAbilityH {
  border: 1px solid #5d4d68;
}


#vsWildSendRow {
  display: flex;
  gap: 10px;
  align-items: center;
}

#vsWildSendCatchDiv {
  display: flex;
  align-items: center;
  gap: 5px;
}
#sendCatchButt {
  border: 1px solid var(--focused);
  text-transform: none;
}
#sendCatchButt:hover {
  border: 1px solid var(--selected);
}


/* Settings stuff */
#settingsList {
  overflow-y: auto;
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.settingsTitle {
  width: 100%;
  color: var(--text2);
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto-Medium";
  border-bottom: solid 1px var(--bg4);
  padding: 5px 0px;
  margin-bottom: 4px;
}


.settingBox {
  padding: 2px 0px 2px 5px;
  display: flex;
  outline: none;
  justify-content: center;
  align-items: center;
}
.settingBox:hover {
  background-color: var(--bg2);
}

.settingsCheck {
  outline: none;
  margin-right: 4px;
}

.settingsText {
  width: 100%;
}

#settingsButtonSection {
  display: flex;
  justify-content: center;
  margin: 5px 0px;
}
.settingsButton {
  padding: 2px 5px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Roboto-Medium";
  background: none;
  border: solid 2px var(--focused);
  border-radius: 5px;
  color: var(--text2);
  outline: none;
}
.settingsButton:hover {
  filter: brightness(1.4);
}
.settingsButton:active {
  filter: brightness(.8);
}

#gameSelectDiv, #genSelectDiv, #langSelectDiv {
  gap: 10px;
}

.settingsSelect {
  outline: none;
  height: 30px;
  color: var(--text1);
  background: var(--bg4);
  border: 1px solid var(--focused);
  transition: border-color 100ms;
  padding: 0px 4px;
  box-sizing: border-box;
  border-radius: 5px;
}
.settingsSelect:hover {
  border-color: var(--selected);
}

#langSelect {
  width: 80px;
}
#genSelect {
  width: 40px;
}
#gameSelect {
  width: 100px;
}

#zoomDiv {
  width: 100%;
  display: flex;
  align-items: center;
}
#zoomText {
  padding: 0px 5px;
}
#zoomButtonsDiv {
  display: flex;
  align-items: center;
  gap: 5px;
}

.zoomButton {
  width: 24px;
  height: 24px;
}


/* notification area */
#notifDiv {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  gap: 10px;
}
.notifText {
  padding: 5px;
  background-color: var(--bg4);
  border: 2px solid var(--focused);
  border-radius: 5px;
  opacity: 0;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  animation: notifAnim 2.5s both;
}


#loadingImgsMessage {
  display: none;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 100;
  padding: 5px;
  margin: 10px;
  background-color: var(--bg4);
  border: 2px solid var(--focused);
  border-radius: 5px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  animation: loadingNotifAnim 2.5s both;
}


@keyframes notifAnim {
  0% {
    opacity: 0px;
    border-color: var(--selected);
  }
  10% {opacity: 1;}
  20% {border-color: var(--focused);}
  75% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes loadingNotifAnim {
  0% {
    opacity: 0px;
    border-color: var(--selected);
  }
  10% {opacity: 1;}
  20% {border-color: var(--focused);}
  100% {opacity: 1;}
}


@media (max-width: 590px) {

  #botBar {
    height: 40px;
  }
  #settingsRegion, #botBarBracket {
    width: 50px;
  }

}
